body{
  background-color: rgb(208, 220, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 1px solid red;
  width: 60vw;
  height: auto;
}

.task-name{
  text-align: center;
  font-size: 2.5rem;
box-shadow: white;
  height: 80px;
  border: 1px solid red;
  margin: 10px;
}

.task-button{
  text-align: center;
  height: 50px;
  border: 1px solid red;
}

.form-container{
  position: absolute;
  background-color: burlywood;
  
}




